{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": ["last 3 versions", ">1%"]
				}
			}
		],
		"stage-0",
		"flow"
	],
	"plugins": [
		"transform-object-rest-spread"
	]
}
